<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Covid-19 | Error</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5 p-5">
      <br />
      <div class="alert alert-success" role="alert">
        <center><strong><h1>Oh snap!</h1></strong> <h3><%=error_message%></h3>.</center>
      </div>
      <br />
      <center><h3>Want to perform another search? &nbsp;&nbsp;<a class="btn btn-warning" href="/">Home</a> </h3></center>
    </div>
  </body>
</html>
